<!DOCTYPE html>
<html>
<body>
<form method=POST>
<p>{{n}}{{n}}</p>
<hr />
<p>{{n}}</p>
</form>

<hr/>
<hr/>
<p>Provedeno duplexní sono extrakraniálního úseku karotid a vertebrobazilárního povodí na přístroji Toshiba 4D Aplio 300, M10/02918, FDA 1372071:</p>

<p>Vena jugularis interna bilaterálně dobře kompresibilní.</p>
<p>Parenchym štítné žlázy homogenní.</p>
<p>Srdeční akce během vyšetření pravidelná.</p>

<p><i>Arteria carotis communis sinistra</i> přehledná v celém průběhu, IMT max. {{results['Left Proximal Common Carotid IMT max']}} mm, mean {{results['Left Proximal Common Carotid IMT mean']}} mm, PSV {{results['Left Proximal Common Carotid PSV']}} cm/s. 
<br />

<i>Arteria carotis communis</i> dextra přehledná v celém průběhu, IMT max. {{results['Right Proximal Common Carotid IMT max']}} mm, mean {{results['Right Proximal Common Carotid IMT mean']}} mm, PSV {{results['Right Proximal Common Carotid PSV']}} cm/s.
</p>

<p>V levé bifurkaci karotidy <b>plát</b> {{results['']}} {{results['']}} o tloušťce {{results['']}} mm.<br />
V pravé bifurkaci karotidy <b>plát</b> {{results['']}} {{results['']}} o tloušťce {{results['']}} mm.</p>

<p>
<i>Arteria carotis interna sinistra</i> s laminární tokem, v odstupu PSV {{results['Left Proximal Internal Carotid PSV']}} cm/s, EDV {{results['Left Proximal Internal Carotid EDV']}} cm/s, PI {{results['Left Proximal Internal Carotid PI']}}, RI {{results['Left Proximal Internal Carotid RI']}}, distálně PSV {{results['Left Mid Internal Carotid PSV']}} cm/s, EDV {{results['Left Mid Internal Carotid EDV']}} cm/s, PI {{results['Left Mid Internal Carotid PI']}}, RI {{results['Left Mid Internal Carotid RI']}}, šíře tepny {{results['Left Mid Internal Carotid D']}} mm.<br />

<i>Arteria carotis interna dextra</i> s laminární tokem, v odstupu PSV {{results['Right Proximal Internal Carotid PSV']}} cm/s, EDV {{results['Right Proximal Internal Carotid EDV']}} cm/s, PI {{results['Right Proximal Internal Carotid PI']}}, RI {{results['Right Proximal Internal Carotid RI']}}, distálně PSV {{results['Right Mid Internal Carotid PSV']}} cm/s, EDV {{results['Right Mid Internal Carotid EDV']}} cm/s, PI {{results['Right Mid Internal Carotid PI']}}, RI {{results['Right Mid Internal Carotid RI']}}, šíře tepny {{results['Right Mid Internal Carotid D']}} mm.</p>

<p></p>

<p>
<i>Arteria carotis externa sinistra</i> s normálními hodnotami průtokových rychlostí, PSV {{results['Left Proximal External Carotid PSV']}} cm/s.<br />
<i>Arteria carotis externa dextra</i> s normálními hodnotami průtokových rychlostí, PSV {{results['Right Proximal External Carotid PSV']}} cm/s.
</p>

<p>
<i>Arteria subclavia sinistra</i> s normální vysokorezistentní průtokovou křivkou, PSV {{results['Left Proximal Subclavian PSV']}} cm/s.<br />
<i>Arteria subclavia dextra</i> s normální vysokorezistentní průtokovou křivkou, PSV {{results['Right Proximal Subclavian PSV']}} cm/s.
</p>
<p></p>

<p>
<i>Arteria vertebralis sinistra</i> přehledná, vyšetřena v segmentech V0/V1/V2/V3. Směr toku je ortográdní, dopplerovský signál v úseku V1–V2 s laminárním tokem.<br />
V0 vlevo: PSV {{results['Left Proximal Vertebral PSV']}} cm/s, EDV {{results['Left Proximal Vertebral EDV']}} cm/s, PI {{results['Left Proximal Vertebral PI']}}, RI {{results['Left Proximal Vertebral RI']}}, šíře tepny {{results['Left Proximal Vertebral D']}} mm.<br />
V1 vlevo: PSV {{results['']}} cm/s, EDV {{results['']}} cm/s, PI {{results['']}}, RI {{results['']}}, šíře tepny {{results['']}} mm.<br />
V2 vlevo: PSV {{results['Left Mid Vertebral PSV']}} cm/s, EDV {{results['Left Mid Vertebral EDV']}} cm/s, PI {{results['Left Mid Vertebral PI']}}, RI {{results['Left Mid Vertebral RI']}}, šíře tepny {{results['Left Mid Vertebral D']}} mm.<br />
V3 vlevo: PSV {{results['Left Distal Vertebral PSV']}} cm/s, EDV {{results['Left Distal Vertebral EDV']}} cm/s, PI {{results['Left Distal Vertebral PI']}}, RI {{results['Left Distal Vertebral RI']}}, šíře tepny {{results['Left Distal Vertebral D']}} mm.
</p>

<p>
<i>Arteria vertebralis dextra</i> přehledná, vyšetřena v segmentech V0/V1/V2/V3. Směr toku je ortográdní, dopplerovský signál v úseku V1–V2 s laminárním tokem.<br />
V0 vpravo: PSV {{results['Right Proximal Vertebral PSV']}} cm/s, EDV {{results['Right Proximal Vertebral EDV']}} cm/s, PI {{results['Right Proximal Vertebral PI']}}, RI {{results['Right Proximal Vertebral RI']}}, šíře tepny {{results['Right Proximal Vertebral D']}} mm.<br />
V1 vpravo: PSV {{results['']}} cm/s, EDV {{results['']}} cm/s, PI {{results['']}}, RI {{results['']}}, šíře tepny {{results['']}} mm.<br />
V2 vpravo: PSV {{results['Right Mid Vertebral PSV']}} cm/s, EDV {{results['Right Mid Vertebral EDV']}} cm/s, PI {{results['Right Mid Vertebral PI']}}, RI {{results['Right Mid Vertebral RI']}}, šíře tepny {{results['Right Mid Vertebral D']}} mm.<br />
V3 vpravo: PSV {{results['Right Distal Vertebral PSV']}} cm/s, EDV {{results['Right Distal Vertebral EDV']}} cm/s, PI {{results['Right Distal Vertebral PI']}}, RI {{results['Right Distal Vertebral RI']}}, šíře tepny {{results['Right Distal Vertebral D']}} mm.
</p>
<p></p>

<p><b>Závěr:</b></p>
<p>
Nález v extrakraniálním úseku karotid a vertebrálních tepen bez fokálních stenotických změn.<br />
Transkraniálně v zobrazených úsecích bez fokálních stenotických změn.
</p>

<p></p>
<p>MUDr. Pavel Dušek</p>
	</body>
</html>
