<!DOCTYPE html>
<html>
<head>
<style>
	table, td, th {
		border: solid 1px black;
		border-collapse: collapse;
	}
</style>
</head>
<body>
<form method=POST>
<p>
{{form.echo.label}}{{form.echo()}}<br />
{{form.echo_dilatace.label}}{{form.echo_dilatace()}}
{{form.echo_lav.label}}{{form.echo_lav()}}
{{form.echo_lavi.label}}{{form.echo_lavi()}}

{{form.echo_lv_sys.label}}{{form.echo_lv_sys()}}
{{form.echo_ef.label}}{{form.echo_ef()}}
{{form.echo_fs.label}}{{form.echo_fs()}}
{{form.echo_mapse.label}}{{form.echo_mapse()}}

{{form.echo_lv_dia.label}}{{form.echo_lv_dia()}}
{{form.echo_ea.label}}{{form.echo_ea()}}

{{form.echo_rv_sys.label}}{{form.echo_rv_sys()}}
{{form.echo_tapse.label}}{{form.echo_tapse()}}

{{form.echo_co_interpretace.label}}{{form.echo_co_interpretace()}}
{{form.echo_lvot_vti.label}}{{form.echo_lvot_vti()}}
{{form.echo_co.label}}{{form.echo_co()}}
{{form.echo_ci.label}}{{form.echo_ci()}}
</p>
<ol>
	<li>Normal diastolic function (E &gt; A)</li>
	<li>Impaired relaxation (E:A reversal i.e., E is &lt; A)</li>
	<li>Pseudonormal (E:A ratio appears normal)</li>
	<li>Restrictive filling (E:A ratio often &lt; 2)</li>
</ol>
<hr />
<p>{{form.submit()}}</p>
</form>

<hr/>
<hr/>
<p>
Orientační transtorakální echokardiografie bed-side:<br />
Bez patrné regionální poruchy kinetiky. Srdeční oddíly 
{% if form.echo_dilatace %}
dilatované
{% else %}
bez dilatace 
{% endif %}
(LAV {{form.echo_lav.data}} ml, LAVi {{form.echo_lavi.data}} ml/m2).<br />
Systolická funkce levé komory {{form.echo_lv_sys.data}} (EF LK {{form.echo_ef.data}} %, fractional shortening {{form.echo_fs.data}} %, MAPSE {{form.echo_mapse.data}} mm).<br />
Diastolická funkce levé komory {{form.echo_lv_dia.data}} (E/A {{form.echo_ea.data}}).<br />
Srdeční výdej {{form.c_interpretace}} (LVOT VTI {{form.echo_lvot_vti.data}}, CO {{form.echo_co.data}} l/min., CI {{form.echo_ci.data}} l/min./m2).<br />
Aortální, mitrální a trikuspidální chlopeň bez významné vady.<br />
Tenze v plicnici nezvýšená.<br />
Dolní dutá žíla nedilatovaná kolabujicí s dechovým cyklem.<br />
Perikard bez separace.<br />
</p>
	</body>
</html>
