<!DOCTYPE html>
<html>
<head>
<style>
	table, td, th {
		border: solid 1px black;
		border-collapse: collapse;
	}
</style>
</head>
<body>
<form method=POST>
<p>{{form.tcd.label}}{{form.tcd()}}</p>
<p>{{form.machine.label}}{{form.machine()}}</p>
<p>{{form.kvalita.label}}{{form.kvalita()}}</p>
<p>{{form.vyteznost.label}}{{form.vyteznost()}}</p>
<p>{{form.year.label}}{{form.year()}}</p>
<p>
{{form.vji()}}{{form.vji.label}}<br />
{{form.thyroid()}}{{form.thyroid.label}}<br />
{{form.heart_rhytm()}}{{form.heart_rhytm.label}}<br />
</p>
<hr />

<h1>SIN</h1>
<table>
<tr>
	<td>{{form.imt_sn_max.label}}{{form.imt_sn_max()}}</td>
	<td>{{form.imt_sn_mean.label}}{{form.imt_sn_mean()}}</td>
</tr>
<tr>
	<td>{{form.acc_sn_plaq_width.label}}{{form.acc_sn_plaq_width()}}</td>
	<td>{{form.acc_sn_plaq_echo.label}}{{form.acc_sn_plaq_echo()}}</td>
	<td>{{form.acc_sn_plaq_surf.label}}{{form.acc_sn_plaq_surf()}}</td>
	<td>{{form.aci_sn_laminar()}}{{form.aci_sn_laminar.label}}</td>
</tr>
</table>

<table>
<tr>
	<td>{{form.acc_sn_psv.label}}<br />{{form.acc_sn_psv()}}</td>
	<td>{{form.acc_sn_vm.label}} <br />{{form.acc_sn_vm()}}</td>
	<td>{{form.acc_sn_edv.label}}<br />{{form.acc_sn_edv()}}</td>
	<td>{{form.acc_sn_pi.label}} <br />{{form.acc_sn_pi()}}</td>
	<td>{{form.acc_sn_ri.label}} <br />{{form.acc_sn_ri()}}</td>
	<td>{{form.acc_sn_mm.label}} <br />{{form.acc_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.aci_sn_prox_psv.label}}<br />{{form.aci_sn_prox_psv()}}</td>
	<td>{{form.aci_sn_prox_vm.label}} <br />{{form.aci_sn_prox_vm()}}</td>
	<td>{{form.aci_sn_prox_edv.label}}<br />{{form.aci_sn_prox_edv()}}</td>
	<td>{{form.aci_sn_prox_pi.label}} <br />{{form.aci_sn_prox_pi()}}</td>
	<td>{{form.aci_sn_prox_ri.label}} <br />{{form.aci_sn_prox_ri()}}</td>
	<td>{{form.aci_sn_prox_mm.label}} <br />{{form.aci_sn_prox_mm()}}</td>
</tr>
<tr>
	<td>{{form.aci_sn_dist_psv.label}}<br />{{form.aci_sn_dist_psv()}}</td>
	<td>{{form.aci_sn_dist_vm.label}} <br />{{form.aci_sn_dist_vm()}}</td>
	<td>{{form.aci_sn_dist_edv.label}}<br />{{form.aci_sn_dist_edv()}}</td>
	<td>{{form.aci_sn_dist_pi.label}} <br />{{form.aci_sn_dist_pi()}}</td>
	<td>{{form.aci_sn_dist_ri.label}} <br />{{form.aci_sn_dist_ri()}}</td>
	<td>{{form.aci_sn_dist_mm.label}} <br />{{form.aci_sn_dist_mm()}}</td>
</tr>
<tr>
	<td>{{form.ace_sn_psv.label}}<br />{{form.ace_sn_psv()}}</td>
	<td>{{form.ace_sn_vm.label}} <br />{{form.ace_sn_vm()}}</td>
	<td>{{form.ace_sn_edv.label}}<br />{{form.ace_sn_edv()}}</td>
	<td>{{form.ace_sn_pi.label}} <br />{{form.ace_sn_pi()}}</td>
	<td>{{form.ace_sn_ri.label}} <br />{{form.ace_sn_ri()}}</td>
	<td>{{form.ace_sn_mm.label}} <br />{{form.ace_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.sub_sn_psv.label}}<br />{{form.sub_sn_psv()}}</td>
	<td>{{form.sub_sn_vm.label}} <br />{{form.sub_sn_vm()}}</td>
	<td>{{form.sub_sn_edv.label}}<br />{{form.sub_sn_edv()}}</td>
	<td>{{form.sub_sn_pi.label}} <br />{{form.sub_sn_pi()}}</td>
	<td>{{form.sub_sn_ri.label}} <br />{{form.sub_sn_ri()}}</td>
	<td>{{form.sub_sn_mm.label}} <br />{{form.sub_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.v2_sn_psv.label}}{{form.v2_sn_psv()}}</td>
	<td>{{form.v2_sn_vm.label}} {{form.v2_sn_vm()}}</td>
	<td>{{form.v2_sn_edv.label}}{{form.v2_sn_edv()}}</td>
	<td>{{form.v2_sn_pi.label}} {{form.v2_sn_pi()}}</td>
	<td>{{form.v2_sn_ri.label}} {{form.v2_sn_ri()}}</td>
	<td>{{form.v2_sn_mm.label}} {{form.v2_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.v1_sn_psv.label}}{{form.v1_sn_psv()}}</td>
	<td>{{form.v1_sn_vm.label}} {{form.v1_sn_vm()}}</td>
	<td>{{form.v1_sn_edv.label}}{{form.v1_sn_edv()}}</td>
	<td>{{form.v1_sn_pi.label}} {{form.v1_sn_pi()}}</td>
	<td>{{form.v1_sn_ri.label}} {{form.v1_sn_ri()}}</td>
	<td>{{form.v1_sn_mm.label}} {{form.v1_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.v0_sn_psv.label}}{{form.v0_sn_psv()}}</td>
	<td>{{form.v0_sn_vm.label}} {{form.v0_sn_vm()}}</td>
	<td>{{form.v0_sn_edv.label}}{{form.v0_sn_edv()}}</td>
	<td>{{form.v0_sn_pi.label}} {{form.v0_sn_pi()}}</td>
	<td>{{form.v0_sn_ri.label}} {{form.v0_sn_ri()}}</td>
	<td>{{form.v0_sn_mm.label}} {{form.v0_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.v3_sn_psv.label}}{{form.v3_sn_psv()}}</td>
	<td>{{form.v3_sn_vm.label}} {{form.v3_sn_vm()}}</td>
	<td>{{form.v3_sn_edv.label}}{{form.v3_sn_edv()}}</td>
	<td>{{form.v3_sn_pi.label}} {{form.v3_sn_pi()}}</td>
	<td>{{form.v3_sn_ri.label}} {{form.v3_sn_ri()}}</td>
	<td>{{form.v3_sn_mm.label}} {{form.v3_sn_mm()}}</td>
</tr>
</table>
<hr />

<h1>DX</h1>
<table>
<tr>
	<td>{{form.imt_dx_max.label}}{{form.imt_dx_max()}}</td>
	<td>{{form.imt_dx_mean.label}}{{form.imt_dx_mean()}}</td>
</tr>
<tr>
	<td>{{form.acc_dx_plaq_width.label}}{{form.acc_dx_plaq_width()}}</td>
	<td>{{form.acc_dx_plaq_echo.label}}{{form.acc_dx_plaq_echo()}}</td>
	<td>{{form.acc_dx_plaq_surf.label}}{{form.acc_dx_plaq_surf()}}</td>
	<td>{{form.aci_dx_laminar()}}{{form.aci_dx_laminar.label}}</td>
</tr>
</table>

<table>
<tr>
	<td>{{form.acc_dx_psv.label}}<br />{{form.acc_dx_psv()}}</td>
	<td>{{form.acc_dx_vm.label}} <br />{{form.acc_dx_vm()}}</td>
	<td>{{form.acc_dx_edv.label}}<br />{{form.acc_dx_edv()}}</td>
	<td>{{form.acc_dx_pi.label}} <br />{{form.acc_dx_pi()}}</td>
	<td>{{form.acc_dx_ri.label}} <br />{{form.acc_dx_ri()}}</td>
	<td>{{form.acc_dx_mm.label}} <br />{{form.acc_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.aci_dx_prox_psv.label}}<br />{{form.aci_dx_prox_psv()}}</td>
	<td>{{form.aci_dx_prox_vm.label}} <br />{{form.aci_dx_prox_vm()}}</td>
	<td>{{form.aci_dx_prox_edv.label}}<br />{{form.aci_dx_prox_edv()}}</td>
	<td>{{form.aci_dx_prox_pi.label}} <br />{{form.aci_dx_prox_pi()}}</td>
	<td>{{form.aci_dx_prox_ri.label}} <br />{{form.aci_dx_prox_ri()}}</td>
	<td>{{form.aci_dx_prox_mm.label}} <br />{{form.aci_dx_prox_mm()}}</td>
</tr>
<tr>
	<td>{{form.aci_dx_dist_psv.label}}<br />{{form.aci_dx_dist_psv()}}</td>
	<td>{{form.aci_dx_dist_vm.label}} <br />{{form.aci_dx_dist_vm()}}</td>
	<td>{{form.aci_dx_dist_edv.label}}<br />{{form.aci_dx_dist_edv()}}</td>
	<td>{{form.aci_dx_dist_pi.label}} <br />{{form.aci_dx_dist_pi()}}</td>
	<td>{{form.aci_dx_dist_ri.label}} <br />{{form.aci_dx_dist_ri()}}</td>
	<td>{{form.aci_dx_dist_mm.label}} <br />{{form.aci_dx_dist_mm()}}</td>
</tr>
<tr>
	<td>{{form.ace_dx_psv.label}}<br />{{form.ace_dx_psv()}}</td>
	<td>{{form.ace_dx_vm.label}} <br />{{form.ace_dx_vm()}}</td>
	<td>{{form.ace_dx_edv.label}}<br />{{form.ace_dx_edv()}}</td>
	<td>{{form.ace_dx_pi.label}} <br />{{form.ace_dx_pi()}}</td>
	<td>{{form.ace_dx_ri.label}} <br />{{form.ace_dx_ri()}}</td>
	<td>{{form.ace_dx_mm.label}} <br />{{form.ace_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.sub_dx_psv.label}}<br />{{form.sub_dx_psv()}}</td>
	<td>{{form.sub_dx_vm.label}} <br />{{form.sub_dx_vm()}}</td>
	<td>{{form.sub_dx_edv.label}}<br />{{form.sub_dx_edv()}}</td>
	<td>{{form.sub_dx_pi.label}} <br />{{form.sub_dx_pi()}}</td>
	<td>{{form.sub_dx_ri.label}} <br />{{form.sub_dx_ri()}}</td>
	<td>{{form.sub_dx_mm.label}} <br />{{form.sub_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.v2_dx_psv.label}}{{form.v2_dx_psv()}}</td>
	<td>{{form.v2_dx_vm.label}} {{form.v2_dx_vm()}}</td>
	<td>{{form.v2_dx_edv.label}}{{form.v2_dx_edv()}}</td>
	<td>{{form.v2_dx_pi.label}} {{form.v2_dx_pi()}}</td>
	<td>{{form.v2_dx_ri.label}} {{form.v2_dx_ri()}}</td>
	<td>{{form.v2_dx_mm.label}} {{form.v2_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.v1_dx_psv.label}}{{form.v1_dx_psv()}}</td>
	<td>{{form.v1_dx_vm.label}} {{form.v1_dx_vm()}}</td>
	<td>{{form.v1_dx_edv.label}}{{form.v1_dx_edv()}}</td>
	<td>{{form.v1_dx_pi.label}} {{form.v1_dx_pi()}}</td>
	<td>{{form.v1_dx_ri.label}} {{form.v1_dx_ri()}}</td>
	<td>{{form.v1_dx_mm.label}} {{form.v1_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.v0_dx_psv.label}}{{form.v0_dx_psv()}}</td>
	<td>{{form.v0_dx_vm.label}} {{form.v0_dx_vm()}}</td>
	<td>{{form.v0_dx_edv.label}}{{form.v0_dx_edv()}}</td>
	<td>{{form.v0_dx_pi.label}} {{form.v0_dx_pi()}}</td>
	<td>{{form.v0_dx_ri.label}} {{form.v0_dx_ri()}}</td>
	<td>{{form.v0_dx_mm.label}} {{form.v0_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.v3_dx_psv.label}}{{form.v3_dx_psv()}}</td>
	<td>{{form.v3_dx_vm.label}} {{form.v3_dx_vm()}}</td>
	<td>{{form.v3_dx_edv.label}}{{form.v3_dx_edv()}}</td>
	<td>{{form.v3_dx_pi.label}} {{form.v3_dx_pi()}}</td>
	<td>{{form.v3_dx_ri.label}} {{form.v3_dx_ri()}}</td>
	<td>{{form.v3_dx_mm.label}} {{form.v3_dx_mm()}}</td>
</tr>
</table>
<hr />

<h1>Ophthlamica</h1>
<table>
<tr>
	<td>{{form.ophth_sn_psv.label}}{{form.ophth_sn_psv()}}</td>
	<td>{{form.ophth_sn_vm.label}} {{form.ophth_sn_vm()}}</td>
	<td>{{form.ophth_sn_edv.label}}{{form.ophth_sn_edv()}}</td>
	<td>{{form.ophth_sn_pi.label}} {{form.ophth_sn_pi()}}</td>
	<td>{{form.ophth_sn_ri.label}} {{form.ophth_sn_ri()}}</td>
	<td>{{form.ophth_sn_mm.label}} {{form.ophth_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.ophth_dx_psv.label}}{{form.ophth_dx_psv()}}</td>
	<td>{{form.ophth_dx_vm.label}} {{form.ophth_dx_vm()}}</td>
	<td>{{form.ophth_dx_edv.label}}{{form.ophth_dx_edv()}}</td>
	<td>{{form.ophth_dx_pi.label}} {{form.ophth_dx_pi()}}</td>
	<td>{{form.ophth_dx_ri.label}} {{form.ophth_dx_ri()}}</td>
	<td>{{form.ophth_dx_mm.label}} {{form.ophth_dx_mm()}}</td>
</tr>
</table>

<h1>Submandibular</h1>
<table>
<tr>
	<td>{{form.aci_sn_sub_psv.label}}{{form.aci_sn_sub_psv()}}</td>
	<td>{{form.aci_sn_sub_vm.label}} {{form.aci_sn_sub_vm()}}</td>
	<td>{{form.aci_sn_sub_edv.label}}{{form.aci_sn_sub_edv()}}</td>
	<td>{{form.aci_sn_sub_pi.label}} {{form.aci_sn_sub_pi()}}</td>
	<td>{{form.aci_sn_sub_ri.label}} {{form.aci_sn_sub_ri()}}</td>
	<td>{{form.aci_sn_sub_mm.label}} {{form.aci_sn_sub_mm()}}</td>
</tr>
<tr>
	<td>{{form.aci_dx_sub_psv.label}}{{form.aci_dx_sub_psv()}}</td>
	<td>{{form.aci_dx_sub_vm.label}} {{form.aci_dx_sub_vm()}}</td>
	<td>{{form.aci_dx_sub_edv.label}}{{form.aci_dx_sub_edv()}}</td>
	<td>{{form.aci_dx_sub_pi.label}} {{form.aci_dx_sub_pi()}}</td>
	<td>{{form.aci_dx_sub_ri.label}} {{form.aci_dx_sub_ri()}}</td>
	<td>{{form.aci_dx_sub_mm.label}} {{form.aci_dx_sub_mm()}}</td>
</tr>
</table>

<h1>TCCS SIN</h1>
{{form.tm_sn_okno.label}}{{form.tm_sn_okno()}}<br />
<table>
<tr>
	<td>{{form.ACM_sn_psv.label}}{{form.ACM_sn_psv()}}</td>
	<td>{{form.ACM_sn_vm.label}} {{form.ACM_sn_vm()}}</td>
	<td>{{form.ACM_sn_edv.label}}{{form.ACM_sn_edv()}}</td>
	<td>{{form.ACM_sn_pi.label}} {{form.ACM_sn_pi()}}</td>
	<td>{{form.ACM_sn_ri.label}} {{form.ACM_sn_ri()}}</td>
	<td>{{form.ACM_sn_mm.label}} {{form.ACM_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.ACM2_sn_psv.label}}{{form.ACM2_sn_psv()}}</td>
	<td>{{form.ACM2_sn_vm.label}} {{form.ACM2_sn_vm()}}</td>
	<td>{{form.ACM2_sn_edv.label}}{{form.ACM2_sn_edv()}}</td>
	<td>{{form.ACM2_sn_pi.label}} {{form.ACM2_sn_pi()}}</td>
	<td>{{form.ACM2_sn_ri.label}} {{form.ACM2_sn_ri()}}</td>
	<td>{{form.ACM2_sn_mm.label}} {{form.ACM2_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.ACM3_sn_psv.label}}{{form.ACM3_sn_psv()}}</td>
	<td>{{form.ACM3_sn_vm.label}} {{form.ACM3_sn_vm()}}</td>
	<td>{{form.ACM3_sn_edv.label}}{{form.ACM3_sn_edv()}}</td>
	<td>{{form.ACM3_sn_pi.label}} {{form.ACM3_sn_pi()}}</td>
	<td>{{form.ACM3_sn_ri.label}} {{form.ACM3_sn_ri()}}</td>
	<td>{{form.ACM3_sn_mm.label}} {{form.ACM3_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.ACA_sn_psv.label}}{{form.ACA_sn_psv()}}</td>
	<td>{{form.ACA_sn_vm.label}} {{form.ACA_sn_vm()}}</td>
	<td>{{form.ACA_sn_edv.label}}{{form.ACA_sn_edv()}}</td>
	<td>{{form.ACA_sn_pi.label}} {{form.ACA_sn_pi()}}</td>
	<td>{{form.ACA_sn_ri.label}} {{form.ACA_sn_ri()}}</td>
	<td>{{form.ACA_sn_mm.label}} {{form.ACA_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.P1pre_sn_psv.label}}{{form.P1pre_sn_psv()}}</td>
	<td>{{form.P1pre_sn_vm.label}} {{form.P1pre_sn_vm()}}</td>
	<td>{{form.P1pre_sn_edv.label}}{{form.P1pre_sn_edv()}}</td>
	<td>{{form.P1pre_sn_pi.label}} {{form.P1pre_sn_pi()}}</td>
	<td>{{form.P1pre_sn_ri.label}} {{form.P1pre_sn_ri()}}</td>
	<td>{{form.P1pre_sn_mm.label}} {{form.P1pre_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.P1post_sn_psv.label}}{{form.P1post_sn_psv()}}</td>
	<td>{{form.P1post_sn_vm.label}} {{form.P1post_sn_vm()}}</td>
	<td>{{form.P1post_sn_edv.label}}{{form.P1post_sn_edv()}}</td>
	<td>{{form.P1post_sn_pi.label}} {{form.P1post_sn_pi()}}</td>
	<td>{{form.P1post_sn_ri.label}} {{form.P1post_sn_ri()}}</td>
	<td>{{form.P1post_sn_mm.label}} {{form.P1post_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.P2_sn_psv.label}}{{form.P2_sn_psv()}}</td>
	<td>{{form.P2_sn_vm.label}} {{form.P2_sn_vm()}}</td>
	<td>{{form.P2_sn_edv.label}}{{form.P2_sn_edv()}}</td>
	<td>{{form.P2_sn_pi.label}} {{form.P2_sn_pi()}}</td>
	<td>{{form.P2_sn_ri.label}} {{form.P2_sn_ri()}}</td>
	<td>{{form.P2_sn_mm.label}} {{form.P2_sn_mm()}}</td>
</tr>
</table>
<hr />

<h1>TCCS DX</h1>
{{form.tm_dx_okno.label}}{{form.tm_dx_okno()}}<br />
<table>
<tr>
	<td>{{form.ACM_dx_psv.label}}{{form.ACM_dx_psv()}}</td>
	<td>{{form.ACM_dx_vm.label}} {{form.ACM_dx_vm()}}</td>
	<td>{{form.ACM_dx_edv.label}}{{form.ACM_dx_edv()}}</td>
	<td>{{form.ACM_dx_pi.label}} {{form.ACM_dx_pi()}}</td>
	<td>{{form.ACM_dx_ri.label}} {{form.ACM_dx_ri()}}</td>
	<td>{{form.ACM_dx_mm.label}} {{form.ACM_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.ACM2_dx_psv.label}}{{form.ACM2_dx_psv()}}</td>
	<td>{{form.ACM2_dx_vm.label}} {{form.ACM2_dx_vm()}}</td>
	<td>{{form.ACM2_dx_edv.label}}{{form.ACM2_dx_edv()}}</td>
	<td>{{form.ACM2_dx_pi.label}} {{form.ACM2_dx_pi()}}</td>
	<td>{{form.ACM2_dx_ri.label}} {{form.ACM2_dx_ri()}}</td>
	<td>{{form.ACM2_dx_mm.label}} {{form.ACM2_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.ACM3_dx_psv.label}}{{form.ACM3_dx_psv()}}</td>
	<td>{{form.ACM3_dx_vm.label}} {{form.ACM3_dx_vm()}}</td>
	<td>{{form.ACM3_dx_edv.label}}{{form.ACM3_dx_edv()}}</td>
	<td>{{form.ACM3_dx_pi.label}} {{form.ACM3_dx_pi()}}</td>
	<td>{{form.ACM3_dx_ri.label}} {{form.ACM3_dx_ri()}}</td>
	<td>{{form.ACM3_dx_mm.label}} {{form.ACM3_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.ACA_dx_psv.label}}{{form.ACA_dx_psv()}}</td>
	<td>{{form.ACA_dx_vm.label}} {{form.ACA_dx_vm()}}</td>
	<td>{{form.ACA_dx_edv.label}}{{form.ACA_dx_edv()}}</td>
	<td>{{form.ACA_dx_pi.label}} {{form.ACA_dx_pi()}}</td>
	<td>{{form.ACA_dx_ri.label}} {{form.ACA_dx_ri()}}</td>
	<td>{{form.ACA_dx_mm.label}} {{form.ACA_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.P1pre_dx_psv.label}}{{form.P1pre_dx_psv()}}</td>
	<td>{{form.P1pre_dx_vm.label}} {{form.P1pre_dx_vm()}}</td>
	<td>{{form.P1pre_dx_edv.label}}{{form.P1pre_dx_edv()}}</td>
	<td>{{form.P1pre_dx_pi.label}} {{form.P1pre_dx_pi()}}</td>
	<td>{{form.P1pre_dx_ri.label}} {{form.P1pre_dx_ri()}}</td>
	<td>{{form.P1pre_dx_mm.label}} {{form.P1pre_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.P1post_dx_psv.label}}{{form.P1post_dx_psv()}}</td>
	<td>{{form.P1post_dx_vm.label}} {{form.P1post_dx_vm()}}</td>
	<td>{{form.P1post_dx_edv.label}}{{form.P1post_dx_edv()}}</td>
	<td>{{form.P1post_dx_pi.label}} {{form.P1post_dx_pi()}}</td>
	<td>{{form.P1post_dx_ri.label}} {{form.P1post_dx_ri()}}</td>
	<td>{{form.P1post_dx_mm.label}} {{form.P1post_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.P2_dx_psv.label}}{{form.P2_dx_psv()}}</td>
	<td>{{form.P2_dx_vm.label}} {{form.P2_dx_vm()}}</td>
	<td>{{form.P2_dx_edv.label}}{{form.P2_dx_edv()}}</td>
	<td>{{form.P2_dx_pi.label}} {{form.P2_dx_pi()}}</td>
	<td>{{form.P2_dx_ri.label}} {{form.P2_dx_ri()}}</td>
	<td>{{form.P2_dx_mm.label}} {{form.P2_dx_mm()}}</td>
</tr>
</table>

<h1>Transforaminal</h1>
<table>
<tr>
	<td>{{form.V4_sn_psv.label}}{{form.V4_sn_psv()}}</td>
	<td>{{form.V4_sn_vm.label}} {{form.V4_sn_vm()}}</td>
	<td>{{form.V4_sn_edv.label}}{{form.V4_sn_edv()}}</td>
	<td>{{form.V4_sn_pi.label}} {{form.V4_sn_pi()}}</td>
	<td>{{form.V4_sn_ri.label}} {{form.V4_sn_ri()}}</td>
	<td>{{form.V4_sn_mm.label}} {{form.V4_sn_mm()}}</td>
</tr>
<tr>
	<td>{{form.V4_dx_psv.label}}{{form.V4_dx_psv()}}</td>
	<td>{{form.V4_dx_vm.label}} {{form.V4_dx_vm()}}</td>
	<td>{{form.V4_dx_edv.label}}{{form.V4_dx_edv()}}</td>
	<td>{{form.V4_dx_pi.label}} {{form.V4_dx_pi()}}</td>
	<td>{{form.V4_dx_ri.label}} {{form.V4_dx_ri()}}</td>
	<td>{{form.V4_dx_mm.label}} {{form.V4_dx_mm()}}</td>
</tr>
<tr>
	<td>{{form.AB_psv.label}}{{form.AB_psv()}}</td>
	<td>{{form.AB_vm.label}} {{form.AB_vm()}}</td>
	<td>{{form.AB_edv.label}}{{form.AB_edv()}}</td>
	<td>{{form.AB_pi.label}} {{form.AB_pi()}}</td>
	<td>{{form.AB_ri.label}} {{form.AB_ri()}}</td>
	<td>{{form.AB_mm.label}} {{form.AB_mm()}}</td>
</tr>
</table>
<hr />
<table>
	<td>{{form.AB_junkce.label}}{{form.AB_junkce()}}</td>
	<td>{{form.ventricle3.label}}{{form.ventricle3()}}</td>
</table>
<hr />
<hr />
<p>{{form.submit()}}</p>
</form>

<hr/>
<hr/>
<p>Provedena
{% if form.tcd.data %}
duplexní ultrasonografie extrakraniálního úseku karotid, vertebrobazilárního povodí a transkraniální vyšetření
{% else %}
duplexní ultrasonografie extrakraniálního úseku karotid a vertebrobazilárního povodí
{% endif %}
na přístroji {{form.machine.data}}, M10/02918, FDA 1372071:</p>

<p>Celková kvalita obrazu {{form.kvalita.data}}, diagnostická výtěžnost {{form.vyteznost.data}}.</p>
<p>
{% if form.vji.data %}
Vena jugularis interna bilaterálně dobře kompresibilní.<br />
{% else %}
Vena jugularis interna <b>nekompresibilní</b>.<br />
{% endif %}

{% if form.thyroid.data %}
Parenchym štítné žlázy homogenní.<br />
{% else %}
Parenchym štítné žlázy <b>nehomogenní</b>.<br />
{% endif %}

{% if form.heart_rhytm.data %}
Srdeční akce během vyšetření pravidelná.
{% else %}
<p>Srdeční akce během vyšetření <b>nepravidelná</b>.
{% endif %}
</p>

<p>
{% if form.acc_sn_plaq_width.data %}
V levé bifurkaci karotidy <b>plát</b> {{form.acc_sn_plaq_surf.data}} {{form.acc_sn_plaq_echo.data}} o tloušťce {{form.acc_sn_plaq_width.data}} mm.
{% endif %}
</p>
<p>
{% if form.acc_dx_plaq_width.data %}
V pravé bifurkaci karotidy <b>plát</b> {{form.acc_dx_plaq_surf.data}} {{form.acc_dx_plaq_echo.data}} o tloušťce {{form.acc_dx_plaq_width.data}} mm.
{% endif %}
</p>

<p>
<i>Arteria carotis communis sinistra</i> přehledná v celém průběhu, IMT max. {{form.imt_sn_max.data}} mm, mean {{form.imt_sn_mean.data}} mm.<br />
<i>Arteria carotis communis sinistra</i> PSV {{form.acc_sn_psv.data}} cm/s, Vm {{form.acc_sn_vm.data}} cm/s, EDV {{form.acc_sn_edv.data}} cm/s, PI {{form.acc_sn_pi.data}}, RI {{form.acc_sn_ri.data}}, šíře tepny {{form.acc_sn_mm.data}} mm.<br />
<br />
<i>Arteria carotis communis dextra</i> přehledná v celém průběhu, IMT max. {{form.imt_dx_max.data}} mm, mean {{form.imt_dx_mean.data}} mm.<br/>
<i>Arteria carotis communis dextra</i> PSV {{form.acc_dx_psv.data}} cm/s, Vm {{form.acc_dx_vm.data}} cm/s, EDV {{form.acc_dx_edv.data}} cm/s, PI {{form.acc_dx_pi.data}}, RI {{form.acc_dx_ri.data}}, šíře tepny {{form.acc_dx_mm.data}} mm.<br />
</p>

<p>
<i>Arteria carotis interna sinistra</i> dobře prehledná s
{% if form.aci_sn_laminar.data %}
laminární tokem.<br />
{% else %}
<b>turbulentním</b> tokem.<br />
{% endif %}
<i>Arteria carotis interna sinistra</i> v odstupu PSV {{form.aci_sn_prox_psv.data}} cm/s, Vm {{form.aci_sn_prox_vm.data}} cm/s, EDV {{form.aci_sn_prox_edv.data}} cm/s, PI {{form.aci_sn_prox_pi.data}}, RI {{form.aci_sn_prox_ri.data}}, šíře tepny {{form.aci_sn_prox_mm.data}} mm.<br />
<i>Arteria carotis interna sinistra</i> distálně PSV {{form.aci_sn_dist_psv.data}} cm/s, Vm {{form.aci_sn_dist_vm.data}} cm/s, EDV {{form.aci_sn_dist_edv.data}} cm/s, PI {{form.aci_sn_dist_pi.data}}, RI {{form.aci_sn_dist_ri.data}}, šíře tepny {{form.aci_sn_dist_mm.data}} mm.<br />
<i>Arteria carotis interna sinistra</i> submandibulárně sektorovou sondou pod bazí lební v {{form.aci_sn_sub_mm.data}} mm PSV {{form.aci_sn_sub_psv.data}} cm/s, Vm {{form.aci_sn_sub_vm.data}} cm/s, EDV {{form.aci_sn_sub_edv.data}} cm/s, PI {{form.aci_sn_sub_pi.data}}, RI {{form.aci_sn_sub_ri.data}}.
</p>

<p>
<i>Arteria carotis interna dextra</i> dobře přehledná s 
{% if form.aci_dx_laminar.data %}
laminární tokem.<br />
{% else %}
<b>turbulentním</b> tokem.<br />
{% endif %}
<i>Arteria carotis interna dextra</i> v odstupu PSV {{form.aci_dx_prox_psv.data}} cm/s, Vm {{form.aci_dx_prox_vm.data}} cm/s, EDV {{form.aci_dx_prox_edv.data}} cm/s, PI {{form.aci_dx_prox_pi.data}}, RI {{form.aci_dx_prox_ri.data}}, šíře tepny {{form.aci_dx_prox_mm.data}} mm.<br />
<i>Arteria carotis interna dextra</i> distálně PSV {{form.aci_dx_dist_psv.data}} cm/s, Vm {{form.aci_dx_dist_vm.data}} cm/s, EDV {{form.aci_dx_dist_edv.data}} cm/s, PI {{form.aci_dx_dist_pi.data}}, RI {{form.aci_dx_dist_ri.data}}, šíře tepny {{form.aci_dx_dist_mm.data}} mm.<br />
<i>Arteria carotis interna dextra</i> submandibulárně sektorovou sondou pod bazí lební v {{form.aci_dx_sub_mm.data}} mm PSV {{form.aci_dx_sub_psv.data}} cm/s, Vm {{form.aci_dx_sub_vm.data}} cm/s, EDV {{form.aci_dx_sub_edv.data}} cm/s, PI {{form.aci_dx_sub_pi.data}}, RI {{form.aci_dx_sub_ri.data}}.
</p>

<p></p>

<p>
<i>Arteria carotis externa sinistra</i> s normálními hodnotami průtokových rychlostí, PSV {{form.ace_sn_psv.data}} cm/s, Vm {{form.ace_sn_vm.data}} cm/s, EDV {{form.ace_sn_edv.data}} cm/s, PI {{form.ace_sn_pi.data}}, RI {{form.ace_sn_ri.data}}, šíře tepny {{form.ace_sn_mm.data}} mm.<br />
</p>
<i>Arteria carotis externa dextra</i> s normálními hodnotami průtokových rychlostí, PSV {{form.ace_dx_psv.data}} cm/s, Vm {{form.ace_dx_vm.data}} cm/s, EDV {{form.ace_dx_edv.data}} cm/s, PI {{form.ace_dx_pi.data}}, RI {{form.ace_dx_ri.data}}, šíře tepny {{form.ace_dx_mm.data}} mm.<br />
</p>

<p>
<i>Arteria subclavia sinistra</i> s normální vysokorezistentní průtokovou křivkou, PSV {{form.sub_sn_psv.data}} cm/s, Vm {{form.sub_sn_vm.data}} cm/s, EDV {{form.sub_sn_edv.data}} cm/s, PI {{form.sub_sn_pi.data}}, RI {{form.sub_sn_ri.data}}, šíře tepny {{form.sub_sn_mm.data}} mm.<br />
<i>Arteria subclavia dextra</i> s normální vysokorezistentní průtokovou křivkou, PSV {{form.sub_dx_psv.data}} cm/s, Vm {{form.sub_dx_vm.data}} cm/s, EDV {{form.sub_dx_edv.data}} cm/s, PI {{form.sub_dx_pi.data}}, RI {{form.sub_dx_ri.data}}, šíře tepny {{form.sub_dx_mm.data}} mm.<br />
</p>
<p></p>

<p>
<i>Arteria vertebralis sinistra</i> přehledná, vyšetřena v segmentech V0/V1/V2/V3. Směr toku je ortográdní, dopplerovský signál v úseku V1–V2 s laminárním tokem.<br />
V0 vlevo: PSV {{form.v0_sn_psv.data}} cm/s, Vm {{form.v0_sn_vm.data}} cm/s, EDV {{form.v0_sn_edv.data}} cm/s, PI {{form.v0_sn_pi.data}}, RI {{form.v0_sn_ri.data}}, šíře tepny {{form.v0_sn_mm.data}} mm.<br />
V1 vlevo: PSV {{form.v1_sn_psv.data}} cm/s, Vm {{form.v1_sn_vm.data}} cm/s, EDV {{form.v1_sn_edv.data}} cm/s, PI {{form.v1_sn_pi.data}}, RI {{form.v1_sn_ri.data}}, šíře tepny {{form.v1_sn_mm.data}} mm.<br />
V2 vlevo: PSV {{form.v2_sn_psv.data}} cm/s, Vm {{form.v2_sn_vm.data}} cm/s, EDV {{form.v2_sn_edv.data}} cm/s, PI {{form.v2_sn_pi.data}}, RI {{form.v2_sn_ri.data}}, šíře tepny {{form.v2_sn_mm.data}} mm.<br />
V3 vlevo: PSV {{form.v3_sn_psv.data}} cm/s, Vm {{form.v3_sn_vm.data}} cm/s, EDV {{form.v3_sn_edv.data}} cm/s, PI {{form.v3_sn_pi.data}}, RI {{form.v3_sn_ri.data}}, šíře tepny {{form.v3_sn_mm.data}} mm.
</p>

<p>
<i>Arteria vertebralis dextra</i> přehledná, vyšetřena v segmentech V0/V1/V2/V3. Směr toku je ortográdní, dopplerovský signál v úseku V1–V2 s laminárním tokem.<br />
V0 vpravo: PSV {{form.v0_dx_psv.data}} cm/s, Vm {{form.v0_dx_vm.data}} cm/s, EDV {{form.v0_dx_edv.data}} cm/s, PI {{form.v0_dx_pi.data}}, RI {{form.v0_dx_ri.data}}, šíře tepny {{form.v0_dx_mm.data}} mm.<br />
V1 vpravo: PSV {{form.v1_dx_psv.data}} cm/s, Vm {{form.v1_dx_vm.data}} cm/s, EDV {{form.v1_dx_edv.data}} cm/s, PI {{form.v1_dx_pi.data}}, RI {{form.v1_dx_ri.data}}, šíře tepny {{form.v1_dx_mm.data}} mm.<br />
V2 vpravo: PSV {{form.v2_dx_psv.data}} cm/s, Vm {{form.v2_dx_vm.data}} cm/s, EDV {{form.v2_dx_edv.data}} cm/s, PI {{form.v2_dx_pi.data}}, RI {{form.v2_dx_ri.data}}, šíře tepny {{form.v2_dx_mm.data}} mm.<br />
V3 vpravo: PSV {{form.v3_dx_psv.data}} cm/s, Vm {{form.v3_dx_vm.data}} cm/s, EDV {{form.v3_dx_edv.data}} cm/s, PI {{form.v3_dx_pi.data}}, RI {{form.v3_dx_ri.data}}, šíře tepny {{form.v3_dx_mm.data}} mm.
</p>
<p></p>

{% if not form.v1_sn_psv.data %}
<p><i>Arteria vertebralis sinistra</i> přehledná v segmentu V2, směr toku je ortográdní, dopplerovský signál s laminárním tokem, PSV {{form.v2_sn_psv.data}} cm/s, Vm {{form.v2_sn_vm.data}} cm/s, EDV {{form.v2_sn_edv.data}} cm/s, PI {{form.v2_sn_pi.data}}, RI {{form.v2_sn_ri.data}}, šíře tepny {{form.v2_sn_mm.data}} mm.</p>
{% endif %}

{% if not form.v1_dx_psv.data %}
<p><i>Arteria vertebralis dextra</i> přehledná v segmentu V2, směr toku je ortográdní, dopplerovský signál s laminárním tokem, PSV {{form.v2_dx_psv.data}} cm/s, Vm {{form.v2_dx_vm.data}} cm/s, EDV {{form.v2_dx_edv.data}} cm/s, PI {{form.v2_dx_pi.data}}, RI {{form.v2_dx_ri.data}}, šíře tepny {{form.v2_dx_mm.data}} mm.</p>
{% endif %}
<p></p>

{% if form.ophth_sn_psv.data %}
<p><i>Arteria ophthalmica sinistra</i> v {{form.ophth_sn_mm.data}} mm s ortográdním laminárním tokem PSV {{form.ophth_sn_psv.data}} cm/s, Vm {{form.ophth_sn_vm.data}} cm/s, EDV {{form.ophth_sn_edv.data}} cm/s, PI {{form.ophth_sn_pi.data}}, RI {{form.ophth_sn_ri.data}}.</p>
{% endif %}
{% if form.ophth_dx_psv.data %}
<p><i>Arteria ophthalmica dextra</i> v {{form.ophth_dx_mm.data}} mm s ortográdním laminárním tokem PSV {{form.ophth_dx_psv.data}} cm/s, Vm {{form.ophth_dx_vm.data}} cm/s, EDV {{form.ophth_dx_edv.data}} cm/s, PI {{form.ophth_dx_pi.data}}, RI {{form.ophth_dx_ri.data}}.</p>
{% endif %}
<p></p>

<p>
Transforaminálně zachyceny segmenty V4 bilaterálně s ortográdním tokem, junkce v {{form.AB_junkce.data}} mm:<br />
V4 vlevo v {{form.V4_sn_mm.data}} mm PSV {{form.V4_sn_psv.data}} cm/s, Vm {{form.V4_sn_vm.data}} cm/s, EDV {{form.V4_sn_edv.data}} cm/s, PI {{form.V4_sn_pi.data}}, RI {{form.V4_sn_ri.data}}.<br />
V4 vpravo v {{form.V4_dx_mm.data}} mm PSV {{form.V4_dx_psv.data}} cm/s, Vm {{form.V4_dx_vm.data}} cm/s, EDV {{form.V4_dx_edv.data}} cm/s, PI {{form.V4_dx_pi.data}}, RI {{form.V4_dx_ri.data}}.<br />
Arteria basilaris v {{form.AB_mm.data}} mm PSV {{form.AB_psv.data}} cm/s, Vm {{form.AB_vm.data}} cm/s, EDV {{form.AB_edv.data}} cm/s, PI {{form.AB_pi.data}}, RI {{form.AB_ri.data}}.
</p>
<p></p>

<p>
Temporální okénko vlevo 
{% if form.tm_sn_okno.data %}
dobře propustné,
{% else %}
hůře propustné,
{% endif %}
 vpravo 
{% if form.tm_dx_okno.data %}
dobře propustné
{% else %}
hůře propustné
{% endif %}
 pro ultrazvukové vlnění. Zobrazeny následující segmenty, je v nich laminární tok:<br />

<!-- sin -->
{% if form.ACM_sn_psv.data %}
<i>Arteria cerebri media sinistra</i> v M1 v {{form.ACM_sn_mm.data}} mm PSV {{form.ACM_sn_psv.data}} cm/s, Vm {{form.ACM_sn_vm.data}} cm/s, EDV {{form.ACM_sn_edv.data}} cm/s, PI {{form.ACM_sn_pi.data}}, RI {{form.ACM_sn_ri.data}}.<br />
{% endif %}

{% if form.ACM2_sn_psv.data %}
<i>Arteria cerebri media sinistra</i> v M1 v {{form.ACM2_sn_mm.data}} mm PSV {{form.ACM2_sn_psv.data}} cm/s, Vm {{form.ACM2_sn_vm.data}} cm/s, EDV {{form.ACM2_sn_edv.data}} cm/s, PI {{form.ACM2_sn_pi.data}}, RI {{form.ACM2_sn_ri.data}}.<br />
{% endif %}

{% if form.ACM3_sn_psv.data %}
<i>Arteria cerebri media sinistra</i> v M1 v {{form.ACM3_sn_mm.data}} mm PSV {{form.ACM3_sn_psv.data}} cm/s, Vm {{form.ACM3_sn_vm.data}} cm/s, EDV {{form.ACM3_sn_edv.data}} cm/s, PI {{form.ACM3_sn_pi.data}}, RI {{form.ACM3_sn_ri.data}}.<br />
{% endif %}

{% if form.ACA_sn_psv.data %}
<i>Arteria cerebri anterior sinistra</i> v A1 v {{form.ACA_sn_mm.data}} mm PSV {{form.ACA_sn_psv.data}} cm/s, Vm {{form.ACA_sn_vm.data}} cm/s, EDV {{form.ACA_sn_edv.data}} cm/s, PI {{form.ACA_sn_pi.data}}, RI {{form.ACA_sn_ri.data}}.<br />
{% endif %}

{% if form.P1pre_sn_psv.data %}
<i>Arteria cerebri posterior sinistra</i> v P1 prekomunikantně v {{form.P1pre_sn_mm.data}} mm PSV {{form.P1pre_sn_psv.data}} cm/s, Vm {{form.P1pre_sn_vm.data}} cm/s, EDV {{form.P1pre_sn_edv.data}} cm/s, PI {{form.P1pre_sn_pi.data}}, RI {{form.P1pre_sn_ri.data}}.<br />
{% endif %}

{% if form.P1post_sn_psv.data %}
<i>Arteria cerebri posterior sinistra</i> v P1 postkomunikantně v {{form.P1post_sn_mm.data}} mm PSV {{form.P1post_sn_psv.data}} cm/s, Vm {{form.P1post_sn_vm.data}} cm/s, EDV {{form.P1post_sn_edv.data}} cm/s, PI {{form.P1post_sn_pi.data}}, RI {{form.P1post_sn_ri.data}}.<br />
{% endif %}

{% if form.P2_sn_psv.data %}
<i>Arteria cerebri posterior sinistra</i> v P2 v {{form.P2_sn_mm.data}} mm PSV {{form.P2_sn_psv.data}} cm/s, Vm {{form.P2_sn_vm.data}} cm/s, EDV {{form.P2_sn_edv.data}} cm/s, PI {{form.P2_sn_pi.data}}, RI {{form.P2_sn_ri.data}}.<br />
{% endif %}

<!-- dx -->
{% if form.ACM_dx_psv.data %}
<i>Arteria cerebri media dextra</i> v M1 v {{form.ACM_dx_mm.data}} mm PSV {{form.ACM_dx_psv.data}} cm/s, Vm {{form.ACM_dx_vm.data}} cm/s, EDV {{form.ACM_dx_edv.data}} cm/s, PI {{form.ACM_dx_pi.data}}, RI {{form.ACM_dx_ri.data}}.<br />
{% endif %}

{% if form.ACM2_dx_psv.data %}
<i>Arteria cerebri media dextra</i> v M1 v {{form.ACM2_dx_mm.data}} mm PSV {{form.ACM2_dx_psv.data}} cm/s, Vm {{form.ACM2_dx_vm.data}} cm/s, EDV {{form.ACM2_dx_edv.data}} cm/s, PI {{form2.ACM_dx_pi.data}}, RI {{form2.ACM_dx_ri.data}}.<br />
{% endif %}

{% if form.ACM3_dx_psv.data %}
<i>Arteria cerebri media dextra</i> v M1 v {{form.ACM3_dx_mm.data}} mm PSV {{form.ACM3_dx_psv.data}} cm/s, Vm {{form.ACM3_dx_vm.data}} cm/s, EDV {{form.ACM3_dx_edv.data}} cm/s, PI {{form.ACM3_dx_pi.data}}, RI {{form.ACM3_dx_ri.data}}.<br />
{% endif %}

{% if form.ACA_dx_psv.data %}
<i>Arteria cerebri anterior dextra</i> v A1 v {{form.ACA_dx_mm.data}} mm PSV {{form.ACA_dx_psv.data}} cm/s, Vm {{form.ACA_dx_vm.data}} cm/s, EDV {{form.ACA_dx_edv.data}} cm/s, PI {{form.ACA_dx_pi.data}}, RI {{form.ACA_dx_ri.data}}.<br />
{% endif %}

{% if form.P1pre_dx_psv.data %}
<i>Arteria cerebri posterior dextra</i> v P1 prekomunikantně v {{form.P1pre_dx_mm.data}} mm PSV {{form.P1pre_dx_psv.data}} cm/s, Vm {{form.P1pre_dx_vm.data}} cm/s, EDV {{form.P1pre_dx_edv.data}} cm/s, PI {{form.P1pre_dx_pi.data}}, RI {{form.P1pre_dx_ri.data}}.<br />
{% endif %}

{% if form.P1post_dx_psv.data %}
<i>Arteria cerebri posterior dextra</i> v P1 postkomunikantně v {{form.P1post_dx_mm.data}} mm PSV {{form.P1post_dx_psv.data}} cm/s, Vm {{form.P1post_dx_vm.data}} cm/s, EDV {{form.P1post_dx_edv.data}} cm/s, PI {{form.P1post_dx_pi.data}}, RI {{form.P1post_dx_ri.data}}.<br />
{% endif %}

{% if form.P2_dx_psv.data %}
<i>Arteria cerebri posterior dextra</i> v P2 v {{form.P2_dx_mm.data}} mm PSV {{form.P2_dx_psv.data}} cm/s, Vm {{form.P2_dx_vm.data}} cm/s, EDV {{form.P2_dx_edv.data}} cm/s, PI {{form.P2_dx_pi.data}}, RI {{form.P2_dx_ri.data}}.<br />
{% endif %}
</p>
<p>Šíře III. komory {{form.ventricle3.data}} mm.</p>
<p></p>
<p><b>Závěr:</b></p>
<p>
Nález v extrakraniálním úseku karotid a vertebrálních tepen bez fokálních stenotických změn.<br />
Transkraniálně v zobrazených úsecích bez fokálních stenotických změn.
</p>

<p></p>
<p>MUDr. Pavel Dušek</p>
	</body>
</html>
